*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    justify-content: center;
    align-items: center;
}

.card{
    height: 600px;
    width: 400px;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

img{
    width: 400px;
    border-radius: 10px;
}

.smallbox{
    display: flex;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    justify-content: space-around;
}

.smallbox img{
    width: 50px;
    height: 50px;
}

.inbox{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-right: 100px;
}

.smallbox a{
    margin-top: 15px;
}

.payment{
    height: 100vh;
    border-radius: 10px;
    background-color: rgb(8, 8, 167);
    color: white;
    box-shadow: 1px 1px 1px black;
}
.payment:hover{
    background-color: rgb(14, 14, 243);
}

.card a{
    color: black;
    margin-bottom: 20px;
    text-decoration: none;
}